<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest/manifest.json">
    <meta name="theme-color" content="#000" />
    <title>Pong Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Pong Game</h1>
        <div class="scoreboard">
            <span id="RScore" style="color: #ff5">00</span>:<span id="BScore" style="color: #55f">00</span>
        </div>
        <canvas id="canvasGame" height="400px" width="1000px"></canvas>
        <button id="restart">Restart</button>
    </div>
    <script defer src="script.js"></script>
</body>
</html>